body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

:root {
  --text-color: #434455;
  --active-color: #404bbf;
  --brand-color: #4d5ae5;
  --text-color-second: #2e2f42;
  --dark-white-color: #f4f4fd;
  --white-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}
/* -----------------   HEADER  ---------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  display: none;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-address {
  font-style: normal;
  display: none;
}

.header-address-list {
  display: flex;
  gap: 40px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-right: 76px;
}
.header-logo-color {
  color: var(--text-color-second);
}
.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-second);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--active-color);
}

.header-address {
  margin-left: auto;
}
.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus,
.header-nav-link.current {
  color: var(--active-color);
}
/* -----------------   MOB-Menu  ---------------------- */
.header-conteiner {
  display: flex;
}
.menu {
  border: none;
  background-color: #ffffff;
  padding: 0;
  margin-left: auto;
}
.menu-color-icon {
  stroke: #2e2f42;
  line-height: 0;
}
.mob-menu {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 80px 24px 40px 40px;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: auto;
}
.mob-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.menu-mob-close {
  position: absolute;
  right: 24px;
  top: 24px;
  background: #e7e9fc;
  border: 1px solid #2e2f421a;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-nav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
}
.col {
  color: #404bbf;
}
.mob-menu-address-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #434455;
}
.mob-menu-address {
  font-style: normal;
}
.mob-menu-address-link {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: #2e2f42;
}
.col-tel {
  color: #4d5ae5;
}
.mob-menu-list {
  margin-top: 40px;
}
.mob-soc-sol-list {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
  margin-top: 48px;
}
.mob-soc-sol-img {
  width: 40px;
  height: 40px;
}
.mob-soc-sol-link {
  width: 100%;
  height: 100%;
  color: #8e8f99;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mob-menu-address-mail:focus,
.mob-menu-address-link:focus,
.mob-menu-nav-link:focus {
  color: var(--active-color);
}
/* -----------------   HERO  ---------------------- */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--text-color-second);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}

.hero-title {
  max-width: 320px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin: auto;
  margin-bottom: 72px;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  margin: 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: none;
  background-color: var(--brand-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-color);
  cursor: pointer;
}
/*  -----------------   ABOUT  --------------------*/
.about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.about-icon {
  display: none;
}

.about-title,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-width {
  max-width: 396px;
}

.about-list-title {
  margin-bottom: 8px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--text-color-second);

  text-align: center;
}

.about-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* -----------------   PRODUСT  --------------------- */
.product {
  display: none;
  padding-bottom: 120px;
}
.product-title {
  background-color: var(--white-color);
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color-second);
}
.product-list {
  display: flex;
  gap: 24px;
}

/* -----------------   Team  --------------------- */
.team {
  background-color: var(--dark-white-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color-second);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-img {
  max-width: 264px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-info {
  padding: 32px 16px;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color-second);
  margin-bottom: 8px;
  text-align: center;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}
.team-sol {
  fill: #f4f4fd;
}
.team-sol-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-sol-img {
  width: 40px;
  height: 40px;
}
.team-sol-link {
  width: 100%;
  height: 100%;
  color: #8e8f99;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-sol-link:hover,
.team-sol-link:focus {
  background-color: #404bbf;
}

/* -----------------   Customer  --------------------- */
.customers {
  background-color: var(--white-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: #2e2f42;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}
.customers-item {
  width: calc((100% - 1 * 16px) / 2);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-icon {
  fill: currentColor;
}
/* -----------------   FOOTER  --------------------- */
.footer {
  background-color: var(--text-color-second);
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}
.list-footer {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  text-align: center;
  gap: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-color {
  color: var(--dark-white-color);
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--dark-white-color);
}
.footer-social {
  width: 208px;
}
.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-img {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  font-size: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer {
  fill: #f4f4fd;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.form-subscribe {
  width: 100%;
}
.text-subscribe {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.form-list {
  width: 100%;
}
.form {
  max-width: 396px;
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.form::placeholder {
  color: #ffffff;
}

.submit-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;

  border: none;
  cursor: pointer;
  background-color: #4d5ae5;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-icon {
  margin-left: 16px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--active-color);
}
/* __________PORTFOLIO ST#2_____________ */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.button-filter {
  min-width: 69px;
  height: 48px;
  display: inline-block;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;

  background-color: var(--dark-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--active-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color-second);
}
.list-img {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.list-text-img {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.list-text-img:hover,
.list-text-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-cover-wrap {
  position: relative;
  overflow: hidden;
}

.list-cover-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 40px 32px;

  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-text-img:hover .list-cover-text,
.list-text-img:focus .list-cover-text {
  transform: translateY(0);
}

/* _________MODAL_____________ */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 36px);
  max-width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-color-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--active-color);
  fill: #ffffff;
  border: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 32px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-field-comment {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  display: block;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-field-check {
  margin-bottom: 24px;
}
.check-text {
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.policy {
  color: #4d5ae5;
}
.model-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-button {
  min-width: 169px;
  height: 56px;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  margin: 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: none;
  background-color: var(--brand-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--active-color);
  cursor: pointer;
}
/*                      TEAM MOB               */

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .mob-menu-address-link {
    font-size: 36px;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@1x.jpg);
  }
  .container {
    max-width: 768px;
  }
  .header {
    padding: 0;
  }
  .menu {
    display: none;
  }
  .header-logo {
    margin-right: auto;
  }
  .header-navigation {
    display: block;
    padding: 0;
  }
  .header-address {
    display: block;
  }
  .header-address-list {
    flex-direction: column;
    gap: 12px;
  }
  .header-address-link {
    display: block;
    font-size: 12px;

    line-height: 1.16;
    letter-spacing: 0.48px;
  }
  /* .header-address-list, */
  .about-list {
    gap: 72px 24px;
  }

  .hero > .container,
  .team > .container,
  .customers > .container,
  .footer > .container {
    max-width: 584px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk@1x.jpg);
  }
  .hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .about-list-title {
    text-align: left;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  .customers-icon {
    width: 104px;
  }

  .footer {
    text-align: left;
  }

  .list-footer {
    justify-content: left;
    text-align: left;
    gap: 72px 24px;
  }
  .footer-text {
    margin-bottom: auto;
  }
  .footer-social {
    margin-bottom: 0%;
  }
  .social-text {
    text-align: left;
  }

  .text-subscribe {
    text-align: left;
    margin-top: 0%;
  }
  .subscribe {
    justify-content: left;
    gap: 24px;
  }
  .form-list {
    width: inherit;
  }
  .form {
    width: 264px;
  }
  .about-width {
    width: calc((100% - 24px) / 2);
  }
  .team-img {
    width: calc((100% - 24px) / 2);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }
  .hero > .container,
  .team > .container,
  .customers > .container,
  .footer > .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }
  .header-navigation {
    display: flex;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
  }

  .team,
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-list,
  .customers-list {
    gap: 24px;
  }
  .about-icon {
    display: grid;
  }
  .customers-icon {
    width: 104px;
  }
  .customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
  .about-element {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 112px;

    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .about-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-list-text {
    font-weight: 400;
  }
  .product {
    display: block;
  }

  .about-width {
    width: calc((100% - 3 * 24px) / 4);
  }
  .team-img {
    width: calc((100% - 3 * 24px) / 4);
  }

  .footer-logo-text {
    margin-right: 120px;
  }
  .list-footer {
    gap: inherit;
  }
  .footer-social {
    margin-bottom: 0%;
  }
  .footer-text {
    margin-bottom: 0%;
  }
  .footer-social {
    margin-right: 80px;
  }
  .product-about {
    width: calc((100% - 2 * 24px) / 3);
  }
  .form-subscribe {
    width: auto;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1158px),
  (min-resolution: 192dpi) and (min-width: 1158px),
  (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk@2x.jpg);
  }
}
